
.Heading{
  position: absolute;
  left: 600px;
}

.text-area{
width: 300px;
position: absolute;
left: 350px;
top:100px;
}

.submit-button{
position: absolute;
left: 700px;
top:100px;
width: 100px;
}
.display-box{
  position: absolute;
  left: 700px;
top:100px;

}