
.Heading{
  position: absolute;
  left: 600px;
}

.text-area{
width: 250px;
position: absolute;
left:600px;
top:100px;
text-align: center;
}

.submit-button{
position: absolute;
left: 900px;
top:100px;
width: 150px;
height: 36px;
}
.display-box{
  position: absolute;
  left: 650px;
  top:200px;

}
.photo
{
  height: 200px;
  width:200px;
}
.label{
  position: absolute;
  top:105px;
  left:450px
}