
.Heading{
  position: absolute;
  left: 600px;
}

.text-area{
width: 250px;
position: absolute;
left:600px;
top:100px;
text-align: center;
}

.submit-button{
position: absolute;
left: 900px;
top:100px;
width: 150px;
height: 36px;
}
.display-box{
  position: absolute;
  top:200px;
  background: #99c491;
  right:0px;
  left:0px;

}
.photo {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 1em;
  right:1200px;
  top:50px;
  
 
}
.label{
  position: absolute;
  top:105px;
  left:450px
}
.user-name {
  position: absolute;
  left:400px;
  top:100px;
}
.full-name {
  position: absolute;
  left:800px;
  top:100px;
}
.email {
  position: absolute;
  left:400px;
  top:150px;
}
.repository {
  position: absolute;
  left:800px;
  top:150px;
}
  .repository-graph{
  position: absolute;
  top:1200px;
  left:900px;
} 
/* .repo-data{
  position: absolute;
  top:300px;
  left:300px;
}  */
.followers{
  position: absolute;
  left:400px;
  top:200px;
}
.following{
  position: absolute;
  left:800px;
  top:200px;
}